@use "./variables";
@use "./mixins";

.home-container {
    display: flex;
    min-height: fit-content;
    overflow: hidden;
}

// Sidebar styles
.sidebar-box {
    border-right: 0.5px solid variables.$powder-blue;
    padding: 20px 20px;
    background-color: variables.$bg-color;
    height: auto;
}

.sidebar-social-container {
    margin-top: 30px;

    h2 {
        color: variables.$powder-blue;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .sidebar-social-link {
        background-color: variables.$primary;
        width: 95%;
        height: 40px;
        transition: 0.2s all ease;
        @include mixins.flex-center;
        animation: fade-in 0.3s forwards ease-in-out;
        opacity: 0;
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.6s;
        }
        &:nth-child(4) {
            animation-delay: 0.9s;
        }
        &:nth-child(5) {
            animation-delay: 1.2s;
        }

        &:hover {
            background-color: lightgray;
        }

        .social-icon {
            color: variables.$bg-color;
            font-size: 2rem;
            position: absolute;
            top: 5;
            left: 5;
        }

        .social-link-text {
            color: variables.$bg-color;
            font-weight: 700;
            font-family: var(--font-montserrat);
            font-size: 1.2rem;
        }
    }

}

.sidebar-image-container {
    img {
        height: 300px !important;
        width: 300px !important;
        border-radius: 50%;
        object-fit: cover;
    }
}

//Main content styles
main {
    min-height: 100vh;
    background-color: variables.$bg-color;
    margin: 0;
    padding: 20px 20px;
    position: relative;
    overflow-y: auto;

    .main-heading {
        font-size: 24rem;
        margin: 0;
        padding: 0;
        line-height: 1;
        background: linear-gradient(to right, variables.$powder-blue, variables.$primary, #0000ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        animation: fade-in ease-in 0.3s;
    }

    span, .about-text {
        @include mixins.text-normal;
    }

    .section-exp > h2, .section-projects > h2 {
        color: variables.$powder-blue;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section-exp > .timeline-container {
        border-color: variables.$powder-blue;
        padding: 0px 10px;
        & * {
            font-family: variables.$font-mont;
        }
        li {
            margin-bottom: 20px;
            div {
                background-color: variables.$powder-blue;
                border-color: transparent;
            }
            h3 {
                margin-bottom: 10px;
            }
            time {
                margin-top: -20px !important;
            }
            ul > li {
                color: variables.$primary;
                list-style: circle;
                margin-left: 20px;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//Rightbar styles
.rightbar-container {
    border-left: 0.5px solid variables.$powder-blue;
    padding: 20px 20px;
    background-color: variables.$bg-color;
    height: auto;
    h2 {
        font-weight: bold;
        color: variables.$powder-blue;
        font-size: 1.8rem;
    }
}