@use "./variables";
@use "./mixins";

//Rightbar styles
.rightbar-container {
    border-left: 0.5px solid variables.$dark-gray;
    padding: 20px 20px;
    background-color: variables.$bg-color;
    height: auto;
    h2 {
        font-weight: bold;
        color: variables.$powder-blue;
        font-size: 1.8rem;
    }
}
// Actual blog item
.blog-item {
    margin-top: 15px;
    width: 95%;
    position: relative;
    background-color: variables.$primary;
    border-radius: 10px;
    .blog-image-container {
        width: 100%;
    }
    .blog-text-container {
        padding: 10px;
        font-family: variables.$font-mont;
        & * {
            font-family: variables.$font-mont;
        }
        h3 {
            color: variables.$secondary;
            font-weight: bold;
            text-align: center;
            font-size: 1.3rem;
        }
        a {
            margin: 0 auto;
            display: block;
            color: variables.$secondary;
            text-decoration: underline;
        }
    }

}